{% extends 'base.html.twig' %}

{% block title %}Студенты{% endblock %}

{% block body %}
    <h1>Студенты</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Группа</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.groupStudent }}</td>
                {% if app.user and app.user.isAdmin %}
                <td><a href="{{ path('app_students_edit', {'id': user.id}) }}">edit</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
