{% extends 'base.html.twig' %}

{% block title %}Новое расписание{% endblock %}

{% block body %}
    <h1>Новое расписание</h1>

    {{ include('schedule/_form.html.twig') }}

    <a href="{{ path('app_schedule_index') }}">back to list</a>
{% endblock %}
