{% extends 'base.html.twig' %}

{% block title %}Добавить группу{% endblock %}

{% block body %}
    <h1>Добавить группу</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('app_group_index') }}">back to list</a>
{% endblock %}
